(app) {
    uri replace /api /api-v1
    log {
        output file /var/log/caddy/access.log
        format console
        level INFO
    }
    handle_path /api-v1 {
        respond "From api v1"
    }
    handle_path /whoami {
        reverse_proxy whoami:80
    }
    respond "Hello from {env.DOMAIN}!"
}

{env.DOMAIN} {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
    import app
}

localhost {
    import app
}
