(app) {
    handle_path /api {
        respond "From api"
    }
    handle_path /whoami {
        reverse_proxy whoami:80
    }
    respond "Hello from {env.DOMAIN}!"
}

{env.DOMAIN} {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

    import app

}

localhost {
    import app
}
